* {
  box-sizing: border-box;
}


body {
  background-color: #DDDDDD;
}

.container {
  width: 80%;
  background-color: #FFFFFF;
  display: block;
  margin: 0 auto;
  padding: 6%;
}

.headerNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.headerNav a {
  color: #5e818e;
  font-size: .8em;
}

.navLinks {
  margin: 0 15px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  text-decoration: none;
  font-weight: 900;
}

h1, h2, h3, a {
  font-family: 'Noto Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  color: #505866;
}

h1 {
  display: block;
  text-align: center;
  letter-spacing: 5px;
  color: #FFFFFF;
}

header {
  margin-bottom: 40px;
}

.hero {
  height: 250px;
  background-image: url("../images/blog_header_bg.jpg");
  background-size: 115% 115%;
  background-position: center bottom;
  background-color: #5e818e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  width: 73%;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #767575;
  font-size: .8em;
  line-height: 1.618;
}

img {
  width: 100%;
}

.blogPost {
  margin-bottom: 50px;
}

.articlePhoto {
  position: relative;
  height: 200px;
  border: 1px dotted blue;
}

.articlePhoto.photoDivider {
  position: absolute;
  top: 50px;
  height: 20px;
  background-color: hotpink;
}

aside {
  width: 23%;
}

.about img {
  width: 50%;
}

.recent a {
  color: #5e818e;
  text-transform: initial;
}

footer {
  margin-top: 50px;
  background-color: #B9EEF7;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.socialLinks {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.socialLinks a {
  margin: 0 5px;
}

.socialLinks svg {
  margin: 0 10px;
}

.copyright {
  width: 100%;
  height: 50px;
  border-top: 2px solid #6D6D6D;
}

.copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
